<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlaUI.Core" version="3.0.0" targetFramework="net452" />
  <package id="IronOcr" version="4.4.0" targetFramework="net452" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net452" />
  <package id="Microsoft.ClearScript" version="6.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="System.Management" version="4.7.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
</packages>